@charset "utf-8";
body {
    margin-left: 0%;
	margin-right: 0%;
	padding: 0;
    background: #f0f0f0;
	font-family: 'Lato', sans-serif;
    color: #313131;
    font-size: medium;
}
#navigation_container {
  width: 100%;
  margin: 0 auto;
  height: 70px;
}

.navigation_bar {
  background-color: #749CD3;
  height: 81.5px;
  width: 100%;
  text-align:center;
	position: fixed;
	z-index: 9;
	top: 0;
}
.navigation_bar img{
float:left;
width: 25%;
}
.navigation_bar form{
	margin-top: 18px;
	float: right;
	margin-left: 100px;	
}
.navigation_bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
	margin-left: 0;
}

.navigation_bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
	margin-left: 0;
}

.navigation_bar li a {
  color: white;
  font-size: larger;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  line-height: 71.5px;
  padding: 5px 15px;
	float: left;
	font-weight: bold;
}
.navigation_bar li a:hover{
	background-color: #3c6bb3;
}
.navigation_bar la a:active{
	background-color: black;
	
}
input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: 2px;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	display: inline;
}
/*input[type=text]:focus {
    width: 100%;
}
*/
.dropbtn {
    background-color: #749CD3;
    color: white;
    padding: 16px;
    font-size: larger;
    border: none;
    cursor: pointer;
	  font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 5px 15px;
	line-height: 71.5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3c6bb3;
}
#home_content{
	padding-top: 80px;
	margin-left: 0	;
	font-size: 1.5em;
	font-weight: bold;
}
section {
    display: block;
    padding-top: 80px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
section h1 {
	text-align: center;
	font-size: 3em;
	color: black;
	font-family: 'Lato', sans-serif;

	
}
/* The :nth-child(n) selector matches every element that is the nth child, regardless of type, of its parent. */
section:nth-child(2) {
    background-color: lightblue;
}
section:nth-child(3) {
    background-color: cornsilk;
}
section:nth-child(4) {
    background-color: tan;
}
section:nth-child(5) {
    background-color: wheat;
}
section:nth-child(6) {
	background-color: green;
}
section:nth-child(7) {
	background-color: aquamarine;
}
section:nth-child(8) {
	background-color: slategrey;
}
section:nth-child(9) {
	background-color: slateblue;
}